<!DOCTYPE html>
<html lang="en">
<head>
  <title>elbaro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="sidebar.css">



</head>
<body id="background_color">
  <div id="wrapper">
    <!-- Page content-->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-12">
              <div class="container">
                <h3 class="titulo">Detalle de<strong> compra</strong></h3>
                <hr class="title-hr">
              </div>
            </div>
          </div>
          <!--Este es el div que tiene el margen gris-->
          <div class='col-lg-10' style='border: solid 1px #DCDCDE; height:600px; border-radius:6px; margin-top:1%; margin-left:8%;'>

          </div>

        </div>
      </div>
    </div>

    </div>



  <!--Menu toggle script -->
 <script>
   function togg(){
   $("#wrapper").toggleClass("menuDisplayed"); }
 </script>

 <script>
 $(document).ready(function(){
     $(".field").hover(function(){
         $(this).css("width", "400px");
         $(this).css("transition", "0.3s");
         }, function(){
         $(this).css("width", "500px");
     });
 });
 </script>



</body>
</html>
