.wizards{
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
.progressbar{
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
}
.progress-line{
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background: #1AC2D9;
}
.form-wizard{
    position: relative;
    float: left;
    width: 20%;
    padding: 0 5px;
    text-align: center;
}
.wizard-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    background: #ddd;
	font-size: 16px;
    color: #fff;
    line-height: 40px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.form-wizard.activated .wizard-icon{
    background: #fff;
    border: 1px solid #1AC2D9;
    color: #1AC2D9;
    line-height: 38px;
}
.form-wizard.active .wizard-icon{
    width: 48px;
    height: 48px;
    margin-top: 0;
    background: #1AC2D9;
    font-size: 22px;
    line-height: 48px;
}
.form-wizard p {
    color: #ccc;
}
.form-wizard.activated p {
    color: #1AC2D9;
}
.form-wizard.active p {
    color: #1AC2D9;
}
fieldset {
    display: none;
    text-align: left;
}
.wizard-buttons {
    text-align: right;
}
.input-error {
    border-color: red !important;
}
/*
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}
*/
.btn-previous{
    background-color: lightgrey;
}
.btn-next{
    background-color: #1AC2D9;
    color: white;
}
iframe{
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
}
#submit-msj{
font-family: 'Quicksand', sans-serif;
font-size: 26px;
color: #1AC2D9;
}
#submit-msj2{
font-family: 'Quicksand', sans-serif;
font-size: 37px;
style:bold;
color: #5FBD5F;
}

.btn-primary {
 background-color: #1AC2D9 !important;
 border-color: #1AC2D9 !important;
}
.btn-primary:hover {
  background-color: #8BDDE8 !important;
 border-color: #8BDDE8 !important;
}
