@font-face {
    font-family:'fontawesome-webfont';
    src:font-url('fontawesome-webfont.ttf');
}
@font-face {
    font-family:'trench';
    src:font-url('trench.otf');
}
@font-face {
    font-family:'Bourbon';
    src:url(font-path('Bourbon.otf'));
}

body.imagendefondo {
     background-image: image-url('back.jpg');
     background-size: 1390px;
     background-position-y:-220px;
}

.titulogrande{
   color: #00B8CE;
   font-size: 140px !important;
   font-family: 'Bourbon'!important;
   margin-left: 86px!important;
   margin-top: 87px !important;
   margin-bottom: 0%;
   box-sizing: border-box;

}

p{
    display: inline;
}

a:-webkit-any-link {
    color:black;
    cursor: auto;
    text-decoration: none;

}

.parrafos{
  font-family: Arial;
  font-weight: lighter;
  font-size: 15px;
}

.section{
    width:300px;
    height:310px;
    position: absolute;
    top: 65%;
    left: 84%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    background-color:white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.registersection{
    width:700px;
    height:480px;
    top: 60%;
    left: 50%;
    padding: 20px;
    padding-left: 90px;
    padding-right: 120px;
    background-color:white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    box-sizing: border-box;
}

.entrar{
    height: 40px;
    margin-left: 3%;
    padding:3px 10px;
    background:#556080;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    display:inline;
    margin-top: 2% !important;
}

.registrar{
    height: 40px;
    margin-left: 5px;
    padding:2px 8px;
    background:#00B8CE;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color:black;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    display:inline;
    margin-top: 2% !important;

}

.registrar_submit_button{

    height: 40px;
    margin-top: 10%;
    margin-left: 5px;
    padding:2px 8px;
    background:#00B8CE;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color:black;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    display:inline;

}


.registrarse{

    height: 40px;
    margin-top: 10%;
    margin-left: 280px;
    padding:2px 8px;
    background:#00B8CE;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color:black;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    display:inline;

}

.el{
    width: 200px;
    height:23px;
    opacity:.6;
    padding-left:10px;
}

.missing_info_alert{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color:red !important;
    visibility: hidden;
    margin-top: -10px;

}



#li_avatar{
margin-left:80px;
width:95px ;
height:100px ;
}


form{
    margin-top: 1%;
    margin-left: 20px;
}

.forma2{
    margin-left: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}



#usuariolog{
    height: 27px !important;
    opacity:.6;
    background-image: image-url('username.png');
    background-repeat: no-repeat;
    background-size: 36px;
    background-position-x: 5px;
    background-position-y: center;
    padding-left:44px;
    margin-bottom: 1%;
    margin-top: 12px !important;


}
#contrasenalog{
    height: 27px !important;
    opacity:.6;
    background-image: image-url('password.png');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-x: 10px;
    background-position-y: center;
    padding-left:44px;
    margin-top: 1%;
}

#registro{
    color: #00B8CE;
    font-size: 100px;
    font-family: Bourbon;
    text-align: center;
    margin-top: 50px;
    margin-left: 5px;
}


#pasc{
margin-left: 55px;
height: 24.5px;
}

#car{
  position: absolute;
  top: 23.5%;
  right: 29%;
  transform: translateX(35%);
}

#car_lbl{
  position: absolute;
  top: 19%;
  right: 36%;
  transform: translateX(-43%);
}

#nom{
width: 455px;
margin-bottom: 15px;
}

#submit_btn{
margin-left:200px;
color:white;
font-weight: bold;
margin-top: 2px !important;

}



input{
  border: solid 1px #BEBFC1;
  border-radius: 0.375em;
  font-size: 10pt;
  font-family: "Open Sans", sans-serif;
}


input.entrar:hover{
    background-color:#3c4358;
}
input.registrar:hover{
    background-color:rgb(1, 118, 131);
}

input::-webkit-input-placeholder {
     color: black; /*Change the placeholder color*/
     opacity: 0.5; /*Change the opacity between 0 and 1*/
}
input[type="text"]:focus,input[type="password"]:focus{
border: 2px solid #00B8CE;
}

.error{
   position: relative;
   animation: shake 1s;
  border:2px solid red !important;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


/* STYLING THE OXXOPAY PAGE*/

#oxxo-form{
  background-color:#F8F9FB;
  border: solid #D3D4D8;
  width: 70%;
  height: 450px;
  margin-left: 18%;
  margin-top: 70px;
  border-radius: 14px;
}

#inner-oxxo-form{
  background-color:white;
  width: 24.5%;
  height: 50px;
  margin-left: 38.5%;
  margin-top: 30px;
  border-radius: 14px;
  position: absolute;
}

#inner-oxxo-image{
width:90%;
height: 74px;
margin-left: 18px;
}

#inner-oxxo-lbl{
margin-left: 29%;
margin-top: 60px;
}
#inner-oxxo-p{
margin-top: 5px;
text-align: center;
}

#inner-oxxo-instrucc{
  margin-left: 6%;
  margin-top: 2%;
}

#area-1{
  background-color: white;
  width:40%;
  height:40px;
  margin-left: 29%;
  padding:0;
  border-radius: 14px;
  border: solid  0.2px #D3D4D8;
}

#area-2{
  background-color: white;
  width: 90%;
  padding:10px;
  border-radius: 14px;
  border: solid  0.2px #D3D4D8;
  margin-left: 5%;
}

#area3{
  background-color: white;
  width:25% !important;
  height:25px;
  border-radius: 14px;
  border: solid  0.2px #D3D4D8;
  display:inline;
  margin-left: 1%;
  margin-top:-1.5px;
}
#enter{
display:inline;
float: rigth;
width: 25px;
height: 25px;
margin-left: 2%
}


.center-elements-conversion{
  text-align: center;
}
#paso2{
  visibility: hidden;
}

#paso1{
background-color: #F8F9FB;
height:70%;
width: 63%;
position:absolute;
transform:translate(3%,-124%);
z-index:2;
}
#inner-oxxo-paso1{
margin-left: 28%;
margin-top: 10%;
display:inline;
font-size:18px;
}
#convert_button{
  width: 40px;
  height: 40px;
  margin-left: 3%;
}


h3.center-elements-conversion{
  color:#1D5483;
}

.barr{
  display: block;
  float: right;
  position: absolute;
  font-size: 50px;
  margin-left: 30%;
}

#b{
  color: #3F6386;
}
#demo{
 margin-left: 60%;
}

#paso1_visa{
background-color: #F8F9FB;
height:400px;
width: 63%;
position: absolute;
z-index:2;
transform: translate(30%,20%);
border: solid #D3D4D8;
}

#paso2_visa{
  visibility: hidden;
}


/* STYLING THE CONFIGURAR CUENTA PAGE*/
.configurar-fields{
display: inline-block;
width: 100%;
height: 30px;
margin-bottom: 15px;
}

form.uu{
  margin-left: 0% !important;
}

#actualizar-btn{
  visibility: hidden;
}

.bloquear{
  pointer-events: none;
  background-color: #F2F2EE;
}
